body {
    font-family: arial;
    margin:auto;
    background: linear-gradient(to right golden,gray,gray, gray,golden)
   }
header {
    background-image:url(../images/Head/condo4.jpg);
    height:250px;  
    
    text-align: center;  
    padding-top: 50px;
}
#logo {
    margin-top: 10px;
    float: left;
    width: 35%;
    height: 100%;  
}
nav ul {
    margin-bottom: 15px;
    list-style: none;
    background-color: #61ab9c;
    padding-bottom: 20px;
    margin-top:250px;
    width: 1500px;
    float: right;
}
nav ul li {
    color: white;
    display: inline;
   }
nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: yellow;
    text-decoration: underline;
   }
div.Pictuer {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    display: inline-block;
   
}

div.Pictuer:hover {
    border: 1px solid #777;
}

div.Pictuer img {
    width: 100%;
    height: auto;

}
/*Home starts*/
.villa {
    width: 30%;
    float: left;
    margin: 10px;
}
.villa:hover {
    background-color: black;
    box-shadow: 0 2.5px 5px 0 rgba(0,0,0,0.2),0 2.5px 5px 0 rgba(0,0,0,0.2);
    opacity: 0.7;
}
.modal {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.8);
    }
.modal-content {
    margin-top: 8%;
    margin-left: 25%;
    outline:0;
}
.closebtn {
    color: white;
    float: right;
    font-family: serif;
    font-size: 30px;
    transition: all 0.5s ease;
    padding: 16px 20px 16px 20px;
}
.closebtn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}
.animate-zoom {
    animation: animatezoom 0.6s;
}
@keyframes animatezoom {
    from {
      transform:scale(0);
  } 
  to {
      transform:scale(1);
  }
}
footer li {
    color: white;
    display: inline;
    margin: 4%;
}
footer {
    clear: both;
}

.copyright, .copyright a {
    font-size: 14px;
    color: white;
    background: #202020;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    transition: 0.7s ease;
}
.h1 {
    margin-right: 20px;
    color: black;
}


/*index */
#Login{
  background-color:#556B2F;
  width: 500px;
  max-width: 520px;
  height: 300px;
  border: 400px;
  margin: 25%;
  border-radius: 20px;
  margin-right: 500px;
  margin-top: 150px;
  display: inline-flex;
  align-items: center;
  justify-content:center;
}
input{
  font-size: 12px;
  outline: none;
}

#indbody{
  background-image: url(../images/gallery/asd2.jpg);
  width: 1500px;
  height: 700px;
  overflow: hidden;
}

footer li {
    color: white;
    display: inline;
    margin: 4%;
}

footer {
    clear: both;
}

.button {
  float: right;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  background: yellow;
  color: Black;
  border-radius: 5px;
  padding: 10px 15px 7px 15px;
}
/*index ends*/



/*Our listing starts*/
#bold{
  color: white;
  text-decoration: underline;
}

.text{
  color: white;
  margin-left: auto;
}

.h1{
    text-align: center;
    color: white;
    font-family: serif;
}
select{
  min-width: 250px;
  min-height: 25px;
}
#check input{
    display: inline;
    border: none;
    padding: 15px 32px;
}
.check{
  border: none;
}

.listing {
  float: left;
  border-radius: 10px;
  background:rgb(50,0,5);
  padding: 60px;
  width: 500px;
  height: 1000px;
  margin: 20px;
  
}
.listing input{
    margin:10px;
}



.pictuers {
  float: left;
   border-radius: 10px;
  background:rgb(50,0,5);
  padding: 60px;
  width: 500px;
  height: 1000px;
  margin: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
 .pictuers img{
     float: right;
     margin-right: 200px;
     margin: 5px;
     
 }

.pictuers img:hover{
    color: black;
}

footer li {
    color: white;
    display: inline;
    margin: 4%;
}

footer {
    clear: both;
}



/*our listing ends*/

/*payment starts*/

.Pright{
    margin-right:150px;
    border-radius: 10px;
   background:#61ab9c;
   float: right;
  padding: 60px;
  width: 600px;
   max-width: 600px;
   margin-right: 90px;
  margin-top: -1345px;
  margin-left: 40px;
  margin-bottom: 70px;
  overflow: hidden;
  color: white
}
#aws1{
    margin-left:20px;
    border-radius: 10px;
    float: left;  
   background:#556B2F;
   width:380px;
    padding: 60px;
    color: white;
    overflow:hidden;
}



input[type=text]{
    width: 50%;
    padding: 10px 10px;
    margin: 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid #0f1b24;
     font-size: 16px;
    color: white;
}
input:focus, textarea:focus {
  font-family: sans-serif;
  outline: 0;
  transition: 0.7s;
  border-color: #1ab188;
  font-size: 16px;
}


button {
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  background: yellow;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 15px 7px 15px; 
  transition: 0.7s ease;
}
button:hover{
    background-color: green;

}


  

/*payment ends*/


/*contact page starts*/


label {
  color: white;
   font-size: 16px;
}



textarea {
  font-size: 16px;
  display: block; 
  padding: 5px 10px;
  color: white;
  box-sizing: border-box;
  border: 1px solid #0f1b24;
  border-radius: 4px;
  font-size: 16px;
   font-family: sans-serif;
   resize: none;
   width: 500px;
 
}


input, textarea {
  font-size: 16px;
  display: block;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: white;
  border-radius: 0;
 
}

.form1 {
 background:#61ab9c;
 border-radius: 10px;
 color: white;
  padding: 60px;
  width: 800px;
  height: 200px;
  max-width: 600px;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 70px;
  overflow: hidden;
  clear: both;
  
}


.form {
  float: left;
  border-radius: 10px;
  background:#61ab9c;
  padding: 60px;
  width: 500px;
  height: 300px;
padding-bottom: 100px;
  max-width: 600px;
  margin-top: 70px;
  margin-left: 100px;
  margin-bottom: 70px;
  overflow: hidden;
  
}

.button {
  float: right;
  border: 0;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  background:yellow;
  color: Black;
  border-radius: 5px;
  padding: 10px 15px 7px 15px; 
  
}
.button:hover, .button:focus {
  background: #61ab9c;
}
footer ul {
    box-shadow: 0 8px 16px 10px;
    list-style: none;
    padding-top: 10px;
    text-align: center;
   }
footer li {
    display: inline;
    margin: 4%;
}
footer {
    clear: both;
}

/*results start*/
.search{
  width: 30px;
  margin-left: 20px;
  border-radius: 10px;
  color:black;
}

#table table td{
  width:100px;

}

/*results end*/ /*register start*/
.pictu{
    margin-top:50px; 
    
}
.pict img{
    margin-left:10px;
    width:100px;
}
#reg{
    margin: 10px;
   background:#61ab9c;
   color: white;
  padding: 60px;
  width: 800px;
  max-width: 600px;
  margin-top: 0Spx;
  margin-left: 50px;
  margin-bottom: 70px;
  overflow: hidden;
   }
   
#reg{
    
    overflow: hidden;
    color: white;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    display:inline;
    padding:30px 20px 100px 30px;
    transition: 0.5s;
    border-radius:10px
}

#reg h3{
    color: white;
    
}
#right{
   margin-right: 100px;
}

button{
  background-color: #DAA520;
  display: inline;
}
.events{

  color: black;
}


/*register end*/

/*result*/
table{
    float:left;
    overflow: hidden;
}
#result2{
    
   background:#61ab9c;
   color: white;
  float: right;
   border-radius: 10px;
  padding: 30px;
  width: 500px;
  max-width: 500px;
  margin-top: 2%;
  margin-right: 100px;
  margin-bottom: 70px;
  
}

video{
    width: 300px;
    max-width: 300px;
    height: 290px;

}

/*result end*/

/*aboutus stars*/
#about{
 background:#61ab9c;
 font-size: 15px;
 border-radius: 10px;
 color:white;
  padding: 10px;
  width: 600px;
  height: 500px;
  max-width: 600px;
  margin-top: 90px;
  margin-left: 80px;
  margin-bottom: 100px;
  overflow: hidden;
}
#about2{
   background:#61ab9c;
   float: right;
   font-size: 15px;
 border-radius: 10px;
 color:white;
  padding:5px;
  width: 600px;
  height: 500px;
  max-width: 900px;
  margin-top: -45%;
  margin-left: 40px;
  margin-bottom: 1px;

  overflow: hidden;
}
#innerHTML {
    display: inline;
    color: mediumturquoise;
    transition: 0.7s;
}
.posts{
	width:1000px;
	background:lightblue;
	color: black;
	margin-top: 10px;
	margin-left: 200px;
	border-radius: 12px; 
	box-sizing: border-box;
	padding: 20px 20px;
	font-family: Quicksand Book;

}
.posts h1{
	color:purple;
	font-family: Quicksand Book;
}
table{
    background-color:#556B2F;
    width: 300px;
    height: 400px;
    overflow: hidden;
    margin-left: 1%;
    
}
tr{
    background-color: white;
}
th{
    row-gap: 2px;
}
td{
text-align: center;

}
#rem.p{
	font-color:black;
}

