<html>

<head>
  <title>Addis Shelter | About Us</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    
    
    </div>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="result">Results</a></li>
        <li><a href="message">Contact us</a></li>
      </ul>
    </nav>
  </header>
<div id="about">
  <p>
    <strong> Welcome to condominium Housing</strong><br>where you can search condominium  houses in Addis Abeba. condominim houses is established to fill the gap between resedents and Addis Ababa Housing Agency. We are professionals working to fulfill the condominium service needs of residents<br>
     As our name indicates our service are hospitable at <em>condominium Houses </em> so come to us
    and we will surprise you with our detailed services.<br/><br>
    

  
  </div>
  <div id="about2">
     
     <p>we will be more than happy to assist<br/>
      you in finding your next home,here we view every coustemer as family<br/>
       and our servies are filed with hospitality and efficiencey<br/>
      ,we provide free transportation to <br/>
      view properties and only take<br/>
       commission once the deal is done<br/>
       


     </p>

  </div>
  <footer>
<div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>
    
            
            <div class="copyright">
                &copy; 2019 <a href="http://www.Ethiopian Gojo.com/">Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>





</body>

</html>