<html>

<head>
  <title>Addis Shelter | contact us</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    

    </div>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="result">Results</a></li>
        <li><a href="payment">Payment</a></li>
        <li><a href="contactus">contact us</a></li>
      </ul>
    </nav>
  </header>

  <section>

 <form method="post">
          <div class="form">
            <div class="top-row">
             
            <div class="cont">
              <label>Full Name</label>
               <input name = "name" type="text" required="required" id = "name" placeholder="Full Name"/>
            </div>
          </div>

         
          
          <div class="cont">
            <label>Message</label>
            <textarea name="messages"  type="textarea" required="required" id="message" rows="6"  placeholder="Comment" ></textarea>
          </div>
          <button name="submit" type="submit" class="button"/>Submit</button>
          </div>
          </form>
          <div class="form1">
    <address id="address">
      <h5>Piyasa, Arda Bulding 3rd Floor, office 302</h5>
      <p>Piyasa Infront of Mahmood Music studio</p>
      <p>Phone:+251 116987852 <br> Email Address:EthiopianGojo@domain.com</p>
    </address>
</div>
  </section>
  <!--/#contact-page-->


 <footer>
            
             </footer>
<footer>
<div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>

            
            <div class="copyright">
                &copy; 2019 <a href="http://www.condominiumHousing.com/">Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>





</body>

</html>