<html>

<head>
  <title>Addis Shelter | Home</title>
  <link rel="stylesheet" href="/css/main.css">
   <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
  <header>
   <div class="container">
  
  
 </div>
<nav >
  <ul>
  <li><a href ="home"> Home </a></li>
   <li><a href="news">News</a></li>
   <li><a href="result">Results</a></li>
   <li><a href="message">Contact us</a></li>
</ul>
</nav>
  </header>

<section>
<h1 class="h1" style="color:black;"> Feature Condominium Houses</h1>

    <div>
          <img class="villa" onclick="onClick(this)" src="/images/gallery/b.jpg" width="300" height="200">
        </div>
        
    <div >
          <img class="villa" onclick="onClick(this)" src="/images/gallery/f.jpg" width="300" height="200">
        </div>
        
    <div >
          <img class="villa" onclick="onClick(this)" src="/images/index/4.png" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/jemo site/jemo.jpg" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/jemo site/jemo2.jpg" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/kara kore/arabsa.jpg" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/kara kore/site.jpg" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/4060.jpg" width="300" height="200">
        </div>
        
    <div>
          <img class="villa" onclick="onClick(this)" src="/images/picture/cond.jpg" width="300" height="200">
        </div>

        <div id="m01" class="modal" onclick="this.style.display='none'">
      <span class="closebtn">X</span>
      <img class="modal-content animate-zoom" id="img01" style="width:50%">
    </div>
    
</section>
 
<section>
 
 
   
</section>


  <footer>

<div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>
    
            <div class="copyright">
                &copy; 2019 <a href="http://www.Ethiopian Gojo.com/">Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>

</body>

</html>