<html>

<head>
  <title>Addis Shelter | contact us</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    

    </div>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
 		<li><a href="news">News</a></li>
        <li><a href="result">Results</a></li>
        <li><a href="message">Contact us</a></li>
      </ul>
    </nav>
  </header>

  <section>

<form  role="form" method="POST"  th:object="${message}">
          <div class="form">
            <div class="top-row">
             
            
<div class="form-group">
        <label for="comment">Name and Comment</label>
        <textarea th:field="*{comment}" name="comment" id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
         
          
          
<button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Commit</button>
          </div>
          </form>
          <div class="form1">
    
      <div th:each="a : ${messages}">
      <p th:text="|name: ${a.name}|"></p>
      </div>
    </address>
</div>
  </section>
  <!--/#contact-page-->


 <footer>
            
             </footer>
<footer>
<div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>

            
            <div class="copyright">
                &copy; 2019 <a href="http://www.condominiumHousing.com/">Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>





</body>

</html>