
<html>

<head>
 <title>Addis Shelter | Payment</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
   

  </div>
<nav >
  <ul>
 <li><a href="home">Home</a></li>
        <li><a href="aboutus">About us</a></li>
        <li><a href="result">Results</a></li>
        <li><a href="payment">Payment</a></li>
        <li><a href="contactus">contact us</a></li>
</ul>
</nav>
  </header>
  




     <div >
  <img class="Pictu" src="/images/gallery/con3.jpg" alt="Northern Lights" width="400" height="300"> 
 </div>
 <div >
  <img class="Pictu" src="/images/gallery/f.jpg" alt="Northern Lights" width="400" height="300"> 
 </div>
 <div >
  <img class="Pictu" src="/images/gallery/e.jpg" alt="Northern Lights" width="400" height="300"> 
 </div>
 <div >
  <img class="Pictu" src="/images/gallery/b.jpg" alt="Northern Lights" width="400" height="300"> 
 </div>
 
  </div>
  
<div>
  
  <div class="Pright">
  <p>
   <h3> Agent service fee Policy and Procedures</h3><br/>
<h3>(Updated on july 1, 2017)</h3><br/>
The following policy and procedure is applicable for both sides which are buyers/tenants and landlords/owners (Based on the<br/>
Ethiopian rules and regulations) and will be effective when a deal is made (lease or sell contract is signed) between the<br/>
two parties. Our company agent service fee will be:<br/><hr/>
1. For Rental / lease of Residential:<br/>
    please contact us  to determine the commission, we will make sure to serve and offer you the best rates.<br/>

2. For Sale of Residential or Commercial properties:<br/>
    The fee is 2% of the total sale amount (According to the Ethiopian rules and regulations)<br/>
     = ( ( Total sale price ) X (0.02) )<br/><hr/>

Note:<br/>
I. The service fee is non-refundable<br/>
II. If the contract is cancelled by any reason before half of the lease duration then we will deliver our service to both parties for 50% discount of our service fee<br/><br>

III. The service fee include 15% VAT (Value Added Tax)<br/>
IV. The service fee payment will be made on the signing of the sale/lease agreement<br/>
V. The service fee is a one time payment.<br/><hr/>
 <ul>
General rules:<br/>
1. Tenant/Buyer<br/>
<li> This policy and procedure will apply only if the property is shown, visited or made access with us.</li><br/>
<li> Our service might or might not include negotiating and arranging agreements, and that depends on the will of our clients’.</li><br/>
<li> One cannot refer the properties shown to him/her to a third party tenant/buyer/agent without our knowledge, but if she/he did, then he/she will be subjected to pay our service fee and we will take both parties to be held responsible for legal fees arise.</li><br/>
<li> If someone is found to buy or rent a property, that we arrange a visit too, without paying our service fee, then our company will request double of the payment stated above through the legal way.</li><br/>
<li>If the payment is late for more than 15 days of the lease or sale agreement then the client will be requested to pay 10% in addition for each weeks passing after that.</li><br/>
<li>After our visit one can contact the owner/landlord/seller without our involvement, and can negotiate and make a deal but our service fee rate will be the same, and we need to be updated accordingly.</li><br/>
<li> Our company will not be responsible if a client pays to another agent or broker for any property we have shown, made access too, but we will request our rights to get our payment.</li><br/>
<li> We do not ask any service fee for properties which the client has seen with another broker or agent, but we need to be informed before making the visit.</li><br/>
2. Landlord/Owner/Seller<br/>
<li>This policy and procedure will apply only if the property is shown, visited or made access with us.</li><br/>
<li> Our service might or might not include negotiating and arranging agreements, and it depends on the will of our clients’.</li><br/>
<li>One cannot refer our client which we have introduced to him/her to a third party owner/landlord/seller/agent without our knowledge, but if she/he did, then he/she will be subjected to pay our service fee and we will take both parties to be held responsible for legal fees arise.</li><br/>
 </ul>

  </P>
 
  </div>
</div>
        <footer>

<div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>
          
          
            <div class="copyright">
                &copy; 2019 <a href="http://www.Ethiopian Gojo.com/"> Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>
</body>

</html>