

<html>

<head>
  <title>Addis Shelter | result</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header>
    
    
    </div>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
         <li><a href="news">News</a></li>
        <li><a href="result">Results</a></li>
        
        <li><a href="message">Contact us</a></li>
      </ul>
    </nav>
  </header>
 
  <div id="result2">
    <p>
      <ul>
        <li>
          about locations of condominiums<br/>
           the Addis Ababa Housing Development Administration Agency disclosed that it has prepared a reward for informants <br/>
           who will tip off the agency of people who own condominium houses while owning another property .
        </li>
         <a href="http://mwud.gov.et">Ministry of urban development and Housing</a>
      <hr/>
        <li>
          The administration stated that the houses which are found in Yeka Abadu, Ledetta, and Arat kilo sites will be transferred to the winners in two months time.Customers who saved money for 16 months in a row are selected on the 10th round houses transfer lottery.
       </li>
        <hr/>
       <video autoplay>
         <source src="video/mini2.mp4" type="video/mp4">
       </video>
        <hr/>
        <li>
          The administration stated that the houses which are found in Yeka Abadu, Ledetta, and Arat kilo sites will be transferred to the winners in two months time.
         Customers who saved money for 16 months in a row are selected on the 10th round houses transfer lottery.<br/>
          new  annoucement Around 1,200 houses of the 40/60 program and more than 30,000 condominium houses are expected to be transferred to winners until the end of this Ethiopian year.
          Tags: Condominium Construction in Ethiopia, 40/60 Condominium,  20/80 Condominium, 10/90 Condominium, 40/60, 20/80 and 10/90 Condominium Construction in Addis Ababa<br/>
         <hr/>
        </li>
        <image src="/images/gallery/con3.jpg" alt="Northern Lights" width="400" height="300"> 
        
      </ul>
      
      
    </p>

  </div>
  <footer>

   <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-8">
                 <button type="submit" class="btn btn-success"><a th:href="@{/logout}"><i class="fa fa-user-plus"></i> Sign Out</button></a>
             </div>
         </div>
            
            <div class="copyright">
                &copy; 2019 <a href="http://www.Ethiopian Gojo.com/">Addis Shelter</a>. All Rights Reserved.
            </div>
        </footer>






</body>

</html>